.home-container{
  display: flex;
  align-items: center;
  position: relative;
}
.home-list1{
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
.home-text{
  margin-top: 20px;
  width: 356px;
  height: 22px;
  font-size: 18px;
  font-family: "Montserrat" ,sans-serif;
  font-weight: 400;
  line-height: 21.94px;
  text-align: left;
}
.home-title{
  margin-top: 20px;
  width: 805px;
  height: 195px;
  font-size: 50px;
  font-family: "Gilroy" ,sans-serif;
  font-weight: 400;
  line-height: 64.8px;
  text-align: left;
  color: black;
  margin-bottom: 20px;
}
.home-benefit1{
  width: 200px;
  height: 66px;
  line-height: 21.94px;
  margin-top: 50px;
  font-family: "Montserrat" ,sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  text-align: left;
}
.home-benefit2{
  margin-top: 50px;
  width: 283px;
  height: 66px;
  font-size: 18px;
  font-family: "Montserrat" ,sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 21.94px;
  color: #333;
}
.home-btn{
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid rgb(127, 127, 222);
  padding: 15px 25px;
  background: linear-gradient(90deg, #5FACA9 0%, #73C0BD 50.57%, #5FACA9 100%);
  color: #fff;
  font-family:  Gill Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.47px;
  letter-spacing: 0.01em;
  text-align: left;
}
.home-btn:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.home-img{
  margin-top: 40px;
}
.home-backImg{
  width: 1415px;
  height: 700px;
  position: absolute;
  top: 80px;
  left: 400px;
}
